schema/medict00216.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.tei-c.org/ns/1.0" xml:lang="fr">
  <include href="medict.rng">
    <define name="body">
      <element name="body">
        <oneOrMore>
          <choice>
            <ref name="cb"/>
            <ref name="label"/>
            <ref name="entryFree"/>
            <ref name="pb"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="entryFree">
      <element name="entryFree">
        <oneOrMore>
          <choice>
            <ref name="cb"/>
            <ref name="figure"/>
            <ref name="p"/>
            <ref name="pb"/>
            <ref name="table"/>
            <ref name="term"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="pb">
      <element name="pb">
        <ref name="n"/>
        <optional>
          <ref name="facs"/>
        </optional>
        <optional>
          <ref name="pb.corresp"/>
        </optional>
      </element>
    </define>
  </include>
</grammar>