schema/medict.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.tei-c.org/ns/1.0" xml:lang="fr" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:h="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <start>
    <ref name="TEI"/>
  </start>
  <div>
    <a:documentation>Structure d’un article</a:documentation>
    <define name="entry">
      <element name="entry">
        <a:documentation>Entrée, contenant au moins un bloc avec une vedette, un identifiant unique pour le fichier, et des “sens” (ou autres sections contenant gloses ou renvois)</a:documentation>
        <ref name="entry.xml_id"/>
        <optional>
          <attribute name="corresp"/>
        </optional>
        <ref name="form1"/>
        <optional>
          <ref name="pb"/>
        </optional>
        <optional>
          <ref name="dictScrap"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="code"/>
            <ref name="damage"/>
            <ref name="graphic"/>
            <ref name="pb"/>
            <ref name="sense"/>
            <ref name="table"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="entryFree">
      <element name="entryFree">
        <a:documentation>Entrée non structurée (ex Castelli) avec texte mêlé</a:documentation>
        <ref name="entry.xml_id"/>
        <ref name="orth"/>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="cb"/>
            <ref name="damage"/>
            <ref name="foreign"/>
            <ref name="i"/>
            <ref name="lb"/>
            <ref name="orth"/>
            <ref name="pb"/>
            <ref name="quote.c"/>
            <ref name="quote.l"/>
            <ref name="ref"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="form1">
      <element name="form">
        <a:documentation>Bloc identifiant l’entrée, contenant au moins un mot en vedette, plusieurs sont possibles, avec des indications de flexion ou de nature (ex : s. f. « substantif féminin »)</a:documentation>
        <ref name="orth"/>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="orth"/>
            <ref name="sc"/>
            <ref name="gram"/>
            <ref name="i"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="dictScrap">
      <element name="dictScrap">
        <a:documentation>Section mêlée, contenant de l’étymologie et des traductions</a:documentation>
        <zeroOrMore>
          <choice>
            <ref name="dictScrap.lax"/>
            <ref name="damage"/>
            <ref name="etym"/>
            <ref name="foreign"/>
            <ref name="num"/>
            <ref name="pb"/>
            <ref name="ref"/>
            <ref name="term"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="dictScrap.lax">
      <a:documentation>Permet de régler la rigueur du bloc étymologique en cours de travail à l’import</a:documentation>
      <empty/>
    </define>
    <define name="sense.lax">
      <a:documentation>Permet de régler la rigueur d’un bloc de signification à l’import</a:documentation>
      <empty/>
    </define>
    <define name="code">
      <element name="code">
        <attribute name="xml:space">
          <value>preserve</value>
        </attribute>
        <text/>
      </element>
    </define>
    <define name="head">
      <element name="head">
        <oneOrMore>
          <choice>
            <text/>
            <ref name="i"/>
            <ref name="note"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="note">
      <element name="note">
        <a:documentation>Note</a:documentation>
        <choice>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="i"/>
            </choice>
          </oneOrMore>
          <oneOrMore>
            <choice>
              <ref name="p"/>
              <ref name="pb"/>
              <ref name="quote.l"/>
            </choice>
          </oneOrMore>
        </choice>
      </element>
    </define>
    <define name="p">
      <element name="p">
        <a:documentation>Un paragraphe libre</a:documentation>
        <optional>
          <attribute name="rend"/>
        </optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="damage"/>
            <ref name="i"/>
            <ref name="lb"/>
            <ref name="foreign"/>
            <ref name="form"/>
            <ref name="formula"/>
            <ref name="graphic"/>
            <ref name="num"/>
            <ref name="note"/>
            <ref name="ref"/>
            <ref name="pb"/>
            <ref name="sc"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="quote.l">
      <element name="quote">
        <a:documentation>Citation de vers</a:documentation>
        <oneOrMore>
          <element name="l">
            <text/>
          </element>
        </oneOrMore>
      </element>
    </define>
    <define name="quote.c">
      <element name="quote">
        <a:documentation>Citation texte</a:documentation>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="i"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="sense">
      <element name="sense">
        <a:documentation>Un “sens”, ou au moins une section dans un article (la hiérarchie n’est pas nécessaire)</a:documentation>
        <oneOrMore>
          <choice>
            <ref name="sense.lax"/>
            <text/>
            <ref name="damage"/>
            <ref name="i"/>
            <ref name="foreign"/>
            <ref name="form"/>
            <ref name="formula"/>
            <ref name="graphic"/>
            <ref name="num"/>
            <ref name="ref"/>
            <ref name="pb"/>
            <ref name="sc"/>
            <ref name="term"/>
            <ref name="xr"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="table">
      <element name="table">
        <a:documentation>Table, &lt;html5:table>. Avant essaiera de limiter l'usage des tables aux structures de contenu qui ne peuvent pas être ramenées à une liste &lt;list> (penser notamment aux listes de définitions qui correspondent à des tableaux à deux colonnes)</a:documentation>
        <optional>
          <attribute name="rend">
            <list>
              <choice>
                <value>center</value>
              </choice>
            </list>
          </attribute>
        </optional>
        <optional>
          <ref name="head"/>
        </optional>
        <optional>
          <element name="spanGrp">
            <attribute name="type">
              <value>colgroup</value>
            </attribute>
            <oneOrMore>
              <element name="span">
                <attribute name="type">
                  <value>col</value>
                </attribute>
                <optional>
                  <attribute name="rend"/>
                </optional>
                <optional>
                  <attribute name="style"/>
                </optional>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <oneOrMore>
          <choice>
            <element name="row">
              <optional>
                <attribute name="role">
                  <choice>
                    <value>data</value>
                    <a:documentation>(défaut) &lt;html5:tbody></a:documentation>
                    <value>label</value>
                    <a:documentation>&lt;html5:thead> ou &lt;html5:tfoot></a:documentation>
                  </choice>
                </attribute>
              </optional>
              <oneOrMore>
                <element name="cell">
                  <optional>
                    <attribute name="role">
                      <choice>
                        <value>data</value>
                        <a:documentation>(défaut) &lt;html5:td&gt;</a:documentation>
                        <value>label</value>
                        <a:documentation>&lt;html5:th&gt;</a:documentation>
                        <text/>
                      </choice>
                    </attribute>
                  </optional>
                  <optional>
                    <!-- TODO border ? -->
                    <attribute name="rend">
                      <list>
                        <oneOrMore>
                          <choice>
                            <value>center</value>
                            <value>bottom</value>
                            <value>middle</value>
                            <value>top</value>
                            <value>left</value>
                            <value>right</value>
                            <value>border</value>
                          </choice>
                        </oneOrMore>
                      </list>
                    </attribute>
                  </optional>
                  <optional>
                    <attribute name="rows"/>
                  </optional>
                  <optional>
                    <attribute name="cols"/>
                  </optional>
                  <text/>
                </element>
              </oneOrMore>
            </element>
            <ref name="pb"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="trad">
      <element name="entryFree">
        <a:documentation>Les entrées de glossaire consiste en au moins une vedette dans une autre langue que le français, en général un ou plusieurs équivalents traductionnels dans un élément <a:el>term</a:el>, parfois on ne peut extraire un terme simple, il s’agit d’une glose dans un un </a:documentation>
        <a:example>
          <entryFree>
            <orth xml:lang="la">Abductor</orth>
            <foreign xml:lang="fr">abducteur</foreign>
          </entryFree>
          <entryFree>
            <orth xml:lang="it">Cavezza di Moro</orth>
            <foreign xml:lang="fr">tête de More</foreign>
            <gloss>en parlant d’un cheval qui a la tête noire, le reste étant gris ou d’autre couleur mêlée</gloss>
          </entryFree>
        </a:example>
        <ref name="entry.xml_id"/>
        <optional>
          <attribute name="type">
            <value>tr</value>
          </attribute>
        </optional>
        <oneOrMore>
          <ref name="orth"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="foreign"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="gloss"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Éléments lexicaux balisés dans un article</a:documentation>
    <define name="i">
      <element name="hi">
        <a:documentation>Mot en italique, sémantique en cours de résolution</a:documentation>
        <optional>
          <ref name="lang"/>
        </optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="cb"/>
            <ref name="lb"/>
            <ref name="pb"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="etym">
      <element name="etym">
        <a:documentation>Séquence étymologique (de … et …) où les mots en italique ne sont pas des équivalents traductionnels.</a:documentation>
        <optional>
          <ref name="lang"/>
        </optional>
        <oneOrMore>
          <choice>
            <text/>
            <ref name="i"/>
            <ref name="damage"/>
            <ref name="num"/>
            <ref name="pb"/>
            <ref name="ref"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="form">
      <element name="form">
        <a:documentation>Sous-entrée, notamment la phraséologie (locutions, expressions)</a:documentation>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="unclear"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="foreign">
      <element name="foreign">
        <a:documentation>Mot en langue étrangère, notamment les équivalents traductionnels ou les glossaires</a:documentation>
        <ref name="lang"/>
        <ref name="foreign.cert"/>
        <oneOrMore>
          <choice>
            <ref name="damage"/>
            <text/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="formula">
      <element name="formula">
        <a:documentation>Formule chimique ou mathématique, possiblement mal retranscrite</a:documentation>
        <text/>
      </element>
    </define>
    <define name="gloss">
      <element name="gloss">
        <a:documentation>Glose qui n’est un équivalent traductionnel simple</a:documentation>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="i"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="gram">
      <element name="gram">
        <a:documentation>Information grammaticale sur une forme</a:documentation>
        <text/>
      </element>
    </define>
    <define name="num">
      <element name="num">
        <a:documentation>Nombre, en petites capitales, souvent des siècles, reconnu automatiquement. <a:example>qui régna dans le milieu du <num>xivᵉ</num> siècle.</a:example></a:documentation>
        <text/>
      </element>
    </define>
    <define name="orth">
      <element name="orth">
        <a:documentation>Forme graphique en vedette, généralement en gras et majuscules (accentuées)</a:documentation>
        <optional>
          <ref name="resp"/>
        </optional>
        <optional>
          <ref name="cert"/>
        </optional>
        <optional>
          <ref name="lang"/>
        </optional>
        <ref name="orth.type"/>
        <oneOrMore>
          <choice>
            <text/>
            <element name="hi">
              <text/>
            </element>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="ref">
      <element name="ref">
        <a:documentation>Renvoi, doit renvoyer à une entrée exacte, voire à une sous-entrée</a:documentation>
        <optional>
          <ref name="target"/>
        </optional>
        <text/>
      </element>
    </define>
    <define name="sc">
      <element name="hi">
        <a:documentation>Petites capitales, non sémantisées (sc : small-caps), par exemple <a:example><orth>MÉTHYLOSPIROYLIQUE</orth> (<hi rend="sc">Acide</hi>).</a:example> </a:documentation>
        <attribute name="rend">
          <value>sc</value>
        </attribute>
        <text/>
      </element>
    </define>
    <define name="term">
      <element name="term">
        <a:documentation>Terme en français, équivalent traductionnel dans un glossaire nultilingue avec entrée en langue étrangère, ou synonyme en section étymologique</a:documentation>
        <zeroOrMore>
          <choice>
            <text/>
            <ref name="i"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="xr">
      <element name="xr">
        <a:documentation>Renvoi à une locution sous-entrée</a:documentation>
        <mixed>
          <ref name="ref"/>
        </mixed>
      </element>
    </define>

  </div>
  <div>
    <a:documentation>Structure générale du fichier</a:documentation>
    <define name="body">
      <element name="body">
        <oneOrMore>
          <choice>
            <ref name="damage"/>
            <ref name="graphic"/>
            <ref name="entry"/>
            <ref name="pb"/>
            <ref name="table"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
    <define name="cb">
      <element name="cb">
        <a:documentation>Saut de colonne, parfois nécessaire pour des numérisations anciennes</a:documentation>
        <optional>
          <ref name="n"/>
        </optional>
        <empty/>
      </element>
    </define>
    <define name="damage">
      <element name="damage">
        <a:documentation>Partie non lisible ou non reconnue, notamment le grec</a:documentation>
        <optional>
          <ref name="lang"/>
        </optional>
        <optional>
          <attribute name="type">
            <choice>
              <value>table</value>
              <value>fig</value>
              <value>formula</value>
            </choice>
          </attribute>
        </optional>
        <choice>
          <text/>
          <empty/>
        </choice>
      </element>
    </define>
    <define name="elany">
      <a:documentation>Motif provisoire, n’importe quel élément</a:documentation>
      <element>
        <anyName>
          <except>
            <nsName/>
          </except>
        </anyName>
        <zeroOrMore>
          <choice>
            <attribute>
              <anyName>
                <except>
                  <name>xml:id</name>
                </except>
              </anyName>
            </attribute>
            <text/>
            <ref name="elany"/>
          </choice>
        </zeroOrMore>
      </element>
    </define>
    <define name="graphic">
      <element name="graphic">
        <a:documentation>Illustration insérée dans la page (possiblement découpée par l’OCR)</a:documentation>
        <optional>
          <attribute name="url"/>
        </optional>
        <optional>
          <attribute name="n"/>
        </optional>
      </element>
    </define>
    <define name="lb">
      <element name="lb">
        <a:documentation>Saut de ligne, parfois nécessaire pour des numérisations anciennes</a:documentation>
        <empty/>
        <optional>
          <attribute name="type"/>
        </optional>
      </element>
    </define>
    <define name="pb">
      <element name="pb">
        <a:documentation>Saut de page (n° et url de l’image de page doivent devenir obligatoire)</a:documentation>
        <optional>
          <text/>
        </optional>
        <optional>
          <ref name="n"/>
        </optional>
        <optional>
          <ref name="facs"/>
        </optional>
        <ref name="pb.corresp"/>
      </element>
    </define>
    <define name="TEI">
      <element name="TEI">
        <ref name="lang"/>
        <attribute name="n"/>
        <attribute name="ana"/>
        <ref name="teiHeader"/>
        <element name="text">
          <ref name="body"/>
        </element>
      </element>
    </define>
    <define name="teiHeader">
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <element name="title">
              <text/>
            </element>
            <oneOrMore>
              <element name="author">
                <text/>
              </element>
            </oneOrMore>
          </element>
          <element name="publicationStmt">
            <element name="p">
              <text/>
            </element>
          </element>
          <element name="sourceDesc">
            <element name="p">
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="i"/>
                </choice>
              </oneOrMore>
            </element>
          </element>
        </element>
        <element name="profileDesc">
          <element name="creation">
            <element name="date">
              <attribute name="when"/>
            </element>
          </element>
        </element>
        <element name="revisionDesc">
          <oneOrMore>
            <element name="change">
              <text/>
            </element>
          </oneOrMore>
        </element>
      </element>
    </define>
    <define name="unclear">
      <element name="unclear">
        <a:documentation>Partie non lisible ou non reconnue, notamment le grec</a:documentation>
        <optional>
          <ref name="lang"/>
        </optional>
        <choice>
          <text/>
          <empty/>
        </choice>
      </element>
    </define>
  </div>
  <div>
    <a:documentation>Attributs</a:documentation>
    <define name="cert">
      <attribute name="cert">
        <a:documentation>Information relue</a:documentation>
        <choice>
          <value>0</value>
          <value>1</value>
          <value>low</value>
        </choice>
      </attribute>
    </define>
    <define name="foreign.cert">
      <optional>
        <ref name="cert"/>
      </optional>
      <optional>
        <ref name="resp"/>
      </optional>
    </define>
    <define name="pb.corresp">
      <attribute name="corresp">
        <a:documentation>Page, url de consultation</a:documentation>
        <data type="anyURI"/>
      </attribute>
    </define>
    <define name="orth.type">
      <empty/>
    </define>
    <define name="facs">
      <attribute name="facs">
        <a:documentation>Lien a une image de page de référence</a:documentation>
        <data type="anyURI"/>
      </attribute>
    </define>
    <define name="xml_id">
      <attribute name="xml:id">
        <a:documentation>Identifiant, au moins unique pour le document</a:documentation>
        <data type="ID"/>
      </attribute>
    </define>
    <define name="entry.xml_id">
      <a:documentation>Pour import, <a:el>entry</a:el>/<a:att>xml:id</a:att>, optionnel ou pas</a:documentation>
      <optional>
        <ref name="xml_id"/>
      </optional>
    </define>
    <define name="lang">
      <attribute name="xml:lang">
        <a:documentation>Code normalisé de langue</a:documentation>
        <choice>
          <value>deu</value>
          <value>eng</value>
          <value>spa</value>
          <value>fra</value>
          <value>grc</value>
          <value>ita</value>
          <value>lat</value>
        </choice>
      </attribute>
    </define>
    <define name="n">
      <attribute name="n">
        <a:documentation>Numéro de page tel qu’imprimé</a:documentation>
      </attribute>
    </define>
    <define name="resp">
      <attribute name="resp">
        <a:documentation>Auteur d’une relecture</a:documentation>
      </attribute>
    </define>
    <define name="target">
      <attribute name="target">
        <a:documentation>Renvoi à un article identifié</a:documentation>
        <data type="IDREF"/>
      </attribute>
    </define>
  </div>
</grammar>
